* {
  margin: 0px;
  padding: 0px;
}
.tesla {
  background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png");
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: ; */
}
.icons > a > svg {
  color: goldenrod;
  height: 30px;
  width: 30px;
}
.logo > svg {
  height: 50px;
  width: 150px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 70px;
  height: 90px;
  /* color: white; */
}
.navbar > a {
  text-decoration: none;
  font-size: 17px;
  margin: 0px 14px;
  /* color: white; */
  font-weight: bold;
}
.icons {
  display: flex;
}
